<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="baseDAO" class="com.seu.jason.dao.BaseDAO" autowire="byType"></bean>

       <bean id="userManager" class="com.seu.jason.service.UserManager" autowire="byType">
              <!--<property name="userDao" ref="userDao"></property>-->
       </bean>

       <!--<bean id="userManager" class=""-->



       <!--<bean id="userManager" parent="transactionBese">-->
              <!--<property name="target" ref="userManagerBase"></property>-->
       <!--</bean>-->

</beans>